h1 {
    color: teal;
}

.titulo-principal {
    color: green;
}

#lista-de-compras {
    font-size: 30px;
}

.quadrinhos {
    font-family: 'Comic Sans MS';
}

.fonte-dh {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    color: yellow
}

.medium {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    color: aqua;
}

.bold {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: green    ;
}